.wrapper {
    display: flex;
    position: relative;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    min-height: 50px;
}

.leftContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.goBackButton {

}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    color: var(--lighter-text-color)
}
