.detailsContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.itemLabel {
  font-weight: bold;
  font-size: 14px;
}

.itemValue {
  font-size: 18px;
}
