.multiSelectBox {
  position: relative;
}

.multiSelectLabel {
  font-size: 12px !important;
  font-weight: 700;
  width: 100%;
  margin: 0 0 5px 0;
}

.multiSelectInput {
  position: relative;
  display: flex;
  width: 100%;
}

.iconArrow {
  margin: 10px 9px;
  color: #6c737f;
  transition: all 0.3s;
}

.selectedTags {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}

.optionList {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 100;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.option {
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
}

.emptyOptionsMessage {
  padding: 10px 20px;
  &:hover {
    background-color: #f5f5f5;
  }
}
