:global {
  .react-datepicker-wrapper {
    .MuiTextField-root {
      width: 100%;
    }
  }

  .react-datepicker-popper {
    z-index: 1000;
  }

  .react-datepicker {
    font-size: 14px !important;
    font-family: var(--main-font);
    background-color: var(--white-base);
    border: 1px solid var(--border-color);
    border-radius: 8px;
  }
  .react-datepicker-popper {
    border-radius: 8px;
    box-shadow: 2px 2px 8px lightgray;
  }

  .react-datepicker__header {
    padding: 16px;
    padding-bottom: 0;
    background-color: var(--lightest-primary-color);
    border-bottom: 1px solid var(--border-color);
  }

  h2.react-datepicker__current-month {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 32px;
  }

  .react-datepicker__month-container {
    background-color: var(--white-base);
  }

  .react-datepicker__navigation--previous {
    right: 260px;
  }

  .react-datepicker__day-names {
    margin-bottom: 10px;
  }

  .react-datepicker__day {
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    color: var(--text-color);
  }

  .react-datepicker__day--selected {
    background-color: var(--text-color) !important;
    color: var(--white-base);
    border-radius: 10px !important;
    font-weight: bold;
    box-shadow: 0 0 0 2px var(--text-color);
  }

  .react-datepicker__day--in-range {
    background-color: var(--text-color);
    color: var(--white-base);
  }

  .react-datepicker__day--selected:hover {
    background-color: var(--text-color) !important;
    color: var(--white-base);
  }

  .react-datepicker__day--in-selecting-range {
    background-color: var(--light-text-color) !important;
    color: var(--white-base);
  }

  .react-datepicker__day--selected:active  {
    background-color: var(--text-color) !important;
    color: var(--white-base);
  }

  .react-datepicker__day--in-range:not([aria-disabled=true]):hover {
    background-color: var(--text-color) !important;
    color: var(--white-base);
  }

  .react-datepicker__day--keyboard-selected:not([aria-disabled=true]):hover {
    background-color: var(--text-color) !important;
    color: var(--white-base);
  }

  .react-datepicker__day--disabled {
    color: var(--light-text-color);
  }

  .react-datepicker__day--outside {
    color: var(--light-text-color);
  }
}
