.indicator {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-primary-color);
  border-radius: 15px;
  width: 100%;
  justify-content: center;
  padding: 3px 12px;
  min-height: 70px;
  box-shadow: 0px 1px 8px 3px rgba(0, 0, 0, 0.05);

  .topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .name {
      font-size: 14px;
    }

    .value {
      font-size: 20px;
      font-weight: 700;
    }
  }
}
