.indicator {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-primary-color);
  border-radius: 15px;
  min-width: 220px;
  width: auto;
  padding: 3px 12px;

  .topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .name {
      font-size: 12px;
    }

    .value {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
