.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  padding-bottom: 0;
}

.modalHeaderTitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}
