.listSettings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 30px;
  min-width: 500px;
}

.listTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
