@import "src/styles/mixins.module.scss";

.kpis {
  @include kpis()
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.buttonContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.itemLabel {
  font-weight: bold;
  font-size: 14px;
}

.itemValue {
  font-size: 18px;
}
