@import "src/styles/mixins.module.scss";

.kpis {
  display: grid;
  gap: 7px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 8px;
  border-radius: 20px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.buttonContainer {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
}

.itemLabel {
  font-weight: bold;
  font-size: 12px;
}

.itemValue {
  font-size: 16px;
}
