:global {
  .content {
    white-space: pre-wrap;
    font-size: 16px !important;
  }

  .title {
    font-size: 18px !important;
    line-height: 42px;
    margin-top: 10px;
  }

  .subtitle {
    font-weight: 700;
  }
}
