.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.formContent {
  width: 100%;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

.actions {
  margin-top: 20px;
  width: 100%;
}
